<div id="left-side">
    <h2>
        My Account
        <a class="button logout" data-ng-click="ctrl.signOut()">Log out</a>
    </h2>

    <div ng-repeat="m in getMessages()" id="flashService-messages">
        <div class="{{ m.level }}">
            <span>{{ m.text }}</span>
        </div>
    </div>

    <h3>People</h3>

    <p>
        <button data-ng-click="ctrl.add()" data-ng-keydown="ctrl.addKeyDown($event)" tabindex="0">Add Person</button>
        <button data-ng-click="ctrl.refresh()" data-ng-keydown="ctrl.refreshKeyDown($event)" tabindex="0"><i class="fa fa-refresh fa-2"></i></button>
    </p>
    <table>
        <thead>
        <tr>
            <th style="border-top-left-radius: 10px;">Person</th>
            <th>Allocated</th>
            <th style="border-top-right-radius: 10px;">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="person in people">
            <td data-ng-bind="person.name"></td>
            <td data-ng-bind="person.allocatedPerson.name"></td>
            <td class="right">
                <a data-ng-click="ctrl.unallocate($index)" data-ng-keydown="ctrl.unallocateKeyDown($event, $index)" tabindex="0" data-ng-hide="!person.allocatedPerson"><i class="fa fa-link fa-3"></i></a>
                <a data-ng-click="ctrl.edit($index)" data-ng-keydown="ctrl.editKeyDown($event, $index)" tabindex="0"><i class="fa fa-pencil fa-3"></i></a>
                <a data-ng-hide="currentAccount.adminPerson._id == person._id" data-ng-click="ctrl.delete($index)" data-ng-keydown="ctrl.deleteKeyDown($event, $index)" tabindex="0"><i class="fa fa-times-circle fa-3"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="right-side">
    <i class="fa fa-comment fa-5 share-this"></i>
    <span class="share-this-span">Click the link to share!</span>
    <img class="bottom" src="img/santa.png" alt="{{title}}">
    <div class="share">
        <a data-ng-click="ctrl.showShareUrl()" data-ng-bind="ctrl.shareUrl()"></a>
    </div>
</div>
