<div id="left-side">
    <h2>Login</h2>
    <div ng-repeat="m in getMessages()" id="flashService-messages">
        <div class="{{ m.level }}">
            <span>{{ m.text }}</span>
        </div>
    </div>
    <form class="form-horizontal well" data-ng-submit="ctrl.signIn()">
        <fieldset>
            <label for="email">Email</label>
            <input data-ng-model="person.email" class="input-block-level" type="email" id="email" placeholder="Email" required="">
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input data-ng-model="person.password" class="input-block-level" type="password" id="password" placeholder="Password" required="">
        </fieldset>
        <fieldset>
            <button type="submit" class="submit">Log in</button>
        </fieldset>
    </form>
</div>
<div id="right-side">
    <img class="bottom" src="img/santa.png" alt="{{title}}">
</div>
