<div id="left-side">
    <p>It's simple and free!</p>
    <ul>
        <li>Add unlimited people</li>
        <li>Send a unique URL to each person</li>
        <li>Randomly allocates each person a secret santa!</li>
        <li>Each person only gets one secret santa!</li>
        <li>It's free!</li>
    </ul>
    <div>
        <span data-ng-hide="currentLogin && currentAccount"><a class="button" href="#/signUp">Sign-up now!</a></span>
        <span data-ng-hide="currentLogin && currentAccount"><a class="button yellow" href="#/login?returnPath=%2Fpeople">Log in</a></span>
        <span data-ng-hide="!currentLogin && !currentAccount"><a class="button yellow" href="#/admin">My account</a></span>
    </div>
</div>
<div id="right-side">
    <img class="bottom" src="img/santa.png" alt="{{title}}">
</div>
