<div id="left-side">
    <div ng-repeat="m in getMessages()" id="flashService-messages">
        <div class="{{ m.level }}">
            <span data-ng-bind-html="m.text"></span>
        </div>
    </div>
    <div data-ng-hide="formSubmitted">
        <p>Enter your name below.</p>
        <form class="form-horizontal well" data-ng-submit="ctrl.allocate()">
            <fieldset>
                <label for="name">Name</label>
                <input type="text" data-focus-me="focusInput" id="name" data-ng-model="name">
            </fieldset>
            <fieldset>
                <button type="submit" class="submit">Submit!</button>
            </fieldset>
        </form>
    </div>
</div>
<div id="right-side">
    <img class="bottom" src="img/santa.png" alt="{{title}}">
</div>
