<div id="left-side">
    <h2>Sign-up</h2>
    <div ng-repeat="m in getMessages()" id="flashService-messages">
        <div class="{{ m.level }}">
            <span>{{ m.text }}</span>
        </div>
    </div>
    <div data-ng-hide="formSubmitted">
        <p>To sign-up, enter your name, email and choose a password.</p>
        <form class="form-horizontal well" data-ng-submit="ctrl.signMeUp()">
            <fieldset>
                <label for="accountName">Name</label>
                <input data-ng-model="account.name" data-focus-me="focusInput" class="input-block-level" type="text" id="accountName" placeholder="Name" required="">
            </fieldset>
            <fieldset>
                <label for="email">Email</label>
                <input data-ng-model="account.email" class="input-block-level" type="email" id="email" placeholder="Email" required="">
            </fieldset>
            <fieldset>
                <label for="password">Password</label>
                <input data-ng-model="account.password" class="input-block-level" type="password" id="password" placeholder="Password" required="">
            </fieldset>
            <fieldset>
                <button type="submit" class="submit">Sign up!</button>
            </fieldset>
        </form>
    </div>
</div>
<div id="right-side">
    <img class="bottom" src="img/santa.png" alt="{{title}}">
</div>
