<div id="left-side">
    <h2>Activate your account</h2>
    <div ng-repeat="m in getMessages()" id="flashService-messages">
        <div class="{{ m.level }}">
            <span>{{ m.text }}</span>
        </div>
    </div>
    <div data-ng-if="displayLogin">
        <span><a class="button yellow" href="#/login?returnPath=%2Fpeople">Log in</a></span>
    </div>
</div>
<div id="right-side">
    <img class="bottom" src="img/santa.png" alt="{{title}}">
</div>
