<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{subject}}</title>
    <style type="text/css">
        .activate-button {
            padding: 11px 19px;
            color: #000000;
            text-decoration: none;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: 0 solid #330066;
            -webkit-box-shadow: 0 4px 0 rgba(000,000,000,.7),inset 0 0 1px rgba(255,255,255,.6);
            box-shadow: 0 4px 0 rgba(000,000,000,.7),inset 0 0 1px rgba(255,255,255,.6);
        }
    </style>
</head>
<body style="background-color: #330066;">
<table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="background-color: #330066;">
    <tr>
        <td>
            <p style="margin: 0; padding: 0; font-size: 0;">Activate your account</p>
            <img src="{{ siteAddress }}/img/email_logo.jpg" style="max-width:280px;" alt="Secret Santa Generator" />
            <p style="font-family: sans-serif; color: #ffffff; font-size: 1.5em; font-weight: normal;">Thanks for signing up!</p>
            <p style="font-family: sans-serif; color: #ffffff; font-size: 1.2em;">To get started, please click the button below to activate your account.<br />
            <br />
            <br />
            <a style="padding: 11px 19px; color: #000000; text-decoration: none; background-color: #fcd700; border-radius: 10px; border: 0 solid #330066;" class="activate-button" href="{{ siteAddress }}{{ activationLink }}">Activate</a>
            <br />
            <br />
            <br />
            <br />
            <a href="{{ siteAddress }}" style="color: #fcd700;">{{ siteAddress }}</a></p>
        </td>
    </tr>
</table>
</body>
</html>