/*** uncss> filename: public/css/styles/reset.css ***/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/

html, body, body div, span, h1, h2, h3, p, img, strong, i, ul, li, fieldset, form, label, table, tbody, thead, tr, th, td, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */

footer, header {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

input {vertical-align: middle;}

input {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}

strong {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */

/* standardize any monospaced elements */

/* hand cursor on clickable elements */
label,
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */

/* prevent BG image flicker upon hover */

/* let's clear some floats */  
 
/*** uncss> filename: public/css/styles/font-awesome.css ***/
/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fonts/fontawesome-webfont.eot?v=4.0.3');
  src: url('../../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-refresh:before {
  content: "\f021";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-comment:before {
  content: "\f075";
}
.fa-link:before {
  content: "\f0c1";
}
.fa-bitbucket:before {
  content: "\f171";
}
 
/*** uncss> filename: public/css/styles/style.css ***/
/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.chromeframe {position: absolute; top: 0;}

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
@font-face {
    font-family: 'DancingScriptOTRegular';
    src: url('../../fonts/DancingScript-Regular-webfont.eot');
    src: url('../../fonts/DancingScript-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/DancingScript-Regular-webfont.woff') format('woff'),
    url('../../fonts/DancingScript-Regular-webfont.ttf') format('truetype'),
    url('../../fonts/DancingScript-Regular-webfont.svg#DancingScriptOTRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #330066;
    padding-bottom: 30px;
}

/* We like off-black for text. */
body, input {
    color: #fff;
}

h1, h2, h3 {
    font-weight: normal;
}

p, li {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

a {
    color: #d13126;
    text-decoration: none;
}

a:hover {
    color: #FF3;
    text-decoration: underline;
}

a:visited,
a:focus {
    color: #FF3;
    outline: 0;
}

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #d13126; color: #fff; text-shadow: none;}
::selection {background: #d13126; color: #fff; text-shadow: none;}

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #d13126;}

/* Mozilla doesn't style place holders by default */
input:-moz-placeholder { color:#a9a9a9; }

h1 {
    font-family: 'DancingScriptOTRegular', Helmet, Freesans, sans-serif;
    letter-spacing: 0;
    text-shadow: 1px 1px 0px black, 2px 2px 0px #476871, 3px 3px 0px #476871, 4px 4px 0px #476871, 5px 5px 0px #476871, 6px 6px 0px #476871, 7px 7px 0px #476871;
    color: #FF3;
    font-size: 2.5em;
    padding-bottom: 0.6em;
}

h2 {
    font-size: 1.8em;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 0.6em;
    color: #987FB2;
}

h3 {
    font-size: 1.5em;
    padding-bottom: 20px;
    color: #b56bff;
}

ul {
    margin-left: 0;
    padding-left: 40px;
    list-style: disc;
    padding-bottom: 2em;
    padding-top: 1em;
}

button,
a.button {
    font-size: 1.5em;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #d13126;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 0px solid #000000;
    -moz-box-shadow:
        0px 4px 0px rgba(000,000,000,0.7),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 4px 0px rgba(000,000,000,0.7),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 4px 0px rgba(000,000,000,0.7),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0),
        0px 2px 0px rgba(000,000,000,0.5);
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

button:hover,
a.button:hover,
button:focus,
a.button:focus {
    background-color: #a93227;
    text-decoration: none;
}

a.button.yellow {
    color: #000;
    background-color: #fcd700;
    text-shadow:
        0px -1px 0px rgba(255,255,255,0),
        0px 2px 0px rgba(255,255,255,0.3);
}

a.button.yellow:hover {
    background-color: #c8a300;
}

p button {
    font-size: inherit;
}

a.logout {
    text-transform: none;
    font-size: 0.7em;
    margin-left: 15px;
    padding: 7px 15px;
    width: auto;
    display: inline;
}

form label {
    display: block;
    opacity: 0.3;
    padding-left: 20px;
}

form input {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    margin: 7px 0 20px 0;
    font-size: 1.5em;
    padding: 10px;
    color: #000;
    width: 100%;
}

form input:focus,
button:focus,
a.button:focus {
    outline: 0;
}

form button.submit {
    margin-top: 20px;
}

.info, .success, .warning, .error {
    margin: 10px 0px 20px 0;
    font-size: 1.3em;
    text-align: left;
    border-radius: 10px;
    padding: 10px 20px;
}

.info {
    color: #fff;
    background-color: #00529B;
}

.success {
    color: #fff;
    background-color: #4F8A10;
}

.warning {
    color: #fff;
    background-color: #9F6000;
}

.error {
    color: #fff;
    background-color: #D8000C;
}

#container {
    padding: 16px;
}

#right-side {
    padding-top: 20px;
    text-align: center;
    position: relative;
}

#right-side img {
    max-width: 75%;
}

table {
    clear: both;
    margin: 20px 0;
    width: 100%;
    border-radius: 10px;
    background-color: #4a0292;
}

table td,
table th {
    padding: 15px 10px;
}

table th {
    text-align: left;
    font-weight: normal;
    background-color: #6101c2;
    color: #b56bff;
}

table td.right {
    text-align: right;
}

.fa-3 {
    font-size: 1.5em;
}

.share {
    position: absolute;
    top: 159px;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: green;
    height: 70px;
    line-height: 60px;
    border-radius: 10px;
    border: 5px solid lightgreen;
    font-size: 1.2em;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
    -webkit-backface-visibility: hidden;
    -moz-box-shadow:
        0px 6px 0px rgba(000,000,000,0.7),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    -webkit-box-shadow:
        0px 6px 0px rgba(000,000,000,0.7),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    box-shadow:
        0px 6px 0px rgba(000,000,000,0.7),
        inset 0px 0px 1px rgba(255,255,255,0.6);
    text-shadow:
        0px -1px 0px rgba(000,000,000,0),
        0px 2px 0px rgba(000,000,000,0.5);
}

.share a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 20px;
}

.share-this {
    position: absolute;
    right: 12px;
    font-size: 120px;
    color: white;
    text-shadow: 4px 6px 0px rgba(000,000,000,0), 0px 6px 0px rgba(000,000,000,0.5);
}

.share-this-span {
    position: absolute;
    top: 62px;
    right: 24px;
    font-size: 1.2em;
    display: block;
    max-width: 95px;
    color: #000000;
}

footer {
    clear: both;
    padding-top: 50px;
}

/* Print styles!
-------------------------------------------------------------------------------*/


/* Media queries!
-------------------------------------------------------------------------------*/

@media screen and (min-width: 480px) {

    h1 {
        font-size: 4em;
    }

    #right-side img {
        max-width: 100%;
    }

    button,
    a.button {
        display: inline;
        width: auto;
        margin-right: 10px;
    }

    .share {
        top: 200px;
    }

    .share-this {
        right: 55px;
    }

    .share-this-span {
        right: 68px;
    }

}

@media screen and (min-width: 768px) {

    #container {
        padding-left: 20px;
    }

    #left-side {
        float: left;
        width: 49%;
    }

    #right-side {
        float: right;
        width: 49%;
    }

}

@media screen and (min-width: 992px) {

    #container {
        margin: 0 auto;
        width: 859px;
        padding-left: 0;
    }

    h1 {
        font-size: 5em;
    }

}